body {
	font-family: Arial Rounded MT Bold;
    background-color: Gainsboro;
}
ul {
  list-style-type: none;
	display: inline;
	float: left
	padding-left: 10
}

.header {
  height: 150px;
  background-color: black;
  color: Gainsboro;
  border-radius: 100px;
}
.header-text{
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}
.longbox{
  color: white;
  padding: 4px;
  margin: 3px 0px;
  border-radius: 25px;
  width: 225px;
  height: 50px;
	float: left;
}
.box-text{
	color: Gainsboro;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.violet {
  color: violet;
}
